<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_10ISTAayarshAidenYashChatbot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <_10ISTAayarshAidenYashChatbot.My.MySettings>
            <setting name="Bot_Text_to_Speech" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Send_Notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Notification_Sound" serializeAs="String">
                <value>True</value>
            </setting>
        </_10ISTAayarshAidenYashChatbot.My.MySettings>
    </userSettings>
</configuration>